 
  .card {
    margin: 30px auto;
    width: 180px;
    height: 250px;
    cursor: pointer;
    transition: 0.4s;
  }
  
  .card .card_image {
    width: inherit;
    height: inherit;
    background-color: #222;
  }
  
  .card .card_image img {
    width: inherit;
    object-fit: cover;
    max-height: 180px;
    min-height: 180px;
  }
  
  .card .card_title {
    text-align: left;
    font-family: "Arial", sans-serif;
    font-weight: normal;
    font-size: 14px;
    margin-top: -80px;
    margin-left: 5px;
  }
  
  .card_subtitle {
    font-size: 11px;
    color: #ccc;
    margin-top: -15px;
    font-weight: normal;
    padding-top: 2px;
  }
  
  .card:hover {
    transform: scale(0.96, 0.96);
    box-shadow: 5px 5px 10px 5px rgba(255,255,255,0.25), 
      -5px -5px 10px 5px rgba(255,255,255,0.22);
  }
  
  .title-white {
    color: white;
  }
  
  .title-black {
    color: black;
  }

  .card_image path{
    fill: white;
  }

  .score_info .seed {
    height: 60px;
    width: 300px;
    margin-top: 110px;
    pointer-events: none;
  }

  .score_info .seed_image {
    float: left;
    width: 60px;
    padding-right: 5px;
    background-color: #000;
  }

  .based_upon {
    font-family: Arial, Helvetica, sans-serif;
    font-size: small;
    position: absolute;
    margin-top: -22px;
  }

  .card .seed_image img {
    width: 60px;
    max-height: 60px !important;
    min-height: 60px !important;
  }
  
  @media all and (max-width: 1200px) {
    .card_list {
      /* On small screens, we are no longer using row direction but column */
      flex-direction: column;
    }
    .card {
      width: 120px;
      height: 170px;
      margin: 5px auto;
    }
    .card .card_title {
      margin-top: -58px;
      font-size: 10px;
    }
    .card_subtitle{
      font-size: 8px;
      padding-top: 5px;
    }
    .score_info .seed {
      margin-top: 90px;
    }

    .card .card_image img {
      max-height: 120px;
      min-height: 120px;
    }
  }
  
  @media all and (max-width: 400px){
    .card {
        width: 106px;
        height: 158px;
        margin: 2px auto;
    }
    .card .card_title {
      margin-top: -58px;
      font-size: 9px;
      margin-left: 3px;
    }

    .card .card_image img {
      max-height: 106px;
      min-height: 106px;
    }
  }
