.versus-entry {
    width: 400px;
    margin: 10px;
    height: 200px;
    background: radial-gradient(#0035f7, #000736fa);
    position: relative;
}

.hide {
    display: none;
}

.versus-entry img, .versus-entry svg {
    height: 40px;
    float: left;
}

.versus-entry .winner {
    position: absolute;
    color: aqua;
    position: absolute;
    font-weight: bolder;
    left: 50%;
    top: 5px;
    transform: translate(-50%,-50%);
}

.versus-entry .winner.defending {
    left: 50px;
}
.versus-entry .winner.challenger {
    right: 40px;
}

.versus {
    position: absolute;
    font-size: 60px;
    font-weight: bolder;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    color: red;
    text-shadow:  0 0 12px #fff, 0 0 12px #fff;
}

.challenge  {
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translate(-50%,-50%);
}

.challenge-style {
    position: absolute;
    font-weight: bold;
    left: 50%;
    top: 15px;
    transform: translate(-50%,-50%);
    color: white;
    text-shadow: 0 0 12px #fff, 0 0 12px #fff;
}

.challenge-points {
    position: absolute;
    font-size: 30px;
    font-weight: bolder;
    left: 50%;
    top: 40px;
    transform: translate(-50%,-50%);
}

.defending .player-card {
    margin: 48px 0 0 26px;
    position: relative;
    /* background-color: chartreuse; */
    width: 110px;
    height: 110px;
    border-radius: 55px;
}

.challenger .player-card {
    right: 25px;
    top: 50px;
    width: 110px;
    height: 110px;
    border-radius: 55px;
    position: absolute;
}

.player-card .name {
    color: white;
    position: absolute;
    font-size: 15px;
    white-space: nowrap;
    position: absolute;
    font-weight: bolder;
    left: 50%;
    top: 86px;
    transform: translate(-50%,-50%);
    background-color: #0008ff;
    padding: 0 6px 2px 6px;
    border-radius: 15px;
}

.player-card .points {
    color: rgb(251 165 0);
    position: absolute;
    font-size: 14px;
    white-space: nowrap;
    position: absolute;
    font-weight: bolder;
    left: 50%;
    top: 105px;
    transform: translate(-50%,-50%);
    background-color: #000000;
    padding: 0 5px 2px 5px;
    border-radius: 15px;
}

.player-card .picture {
    border-radius: 50%;
    left: 50%;
    position: absolute;
    top: 54px;
    transform: translate(-50%,-50%);
    width: 55px;
    height: 55px;
    border: 4px solid white;
}

.share {
    position: absolute;
    left: 50%;
    bottom: 4px;
    transform: translate(-50%,-50%);
    width: 28px;
    height: 28px;
    background-image: url(/img/share-icon.png);
    background-size: 22px 22px;
    background-repeat: no-repeat;
    background-position: left 2px top 3px;
    display: inline-block;
    padding: 0.5em 1em;
    border-radius: 0.2em;
    box-sizing: border-box;
    border: 0;
    margin: 0 0 0 8px;
}

.versus-entry .lb {
    width: 400px;
    margin: 40px auto;
    height: initial;
    margin-bottom: 60px;
    min-height: 250px;
}
.versus-entry.lb {
    height: initial;
    min-height: 200px;
}