
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a, li span {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 4px;
        text-decoration: none;
    }

    li a.active {
        font-weight: bold;
    }

    .profile-picture{
        float: right
    }
    
    .profile-picture img {
        width: 40px;
        padding: 6px;
    }

    .profile-picture svg {
        padding: 5px !important;
        margin: 3px 3px 0;
    }

    .profile-name{        
        display: block;
        color: white;
        text-align: center;
        float: left;
        margin-top: 4px;
        margin-right: 0px;
        font-size: 13px;
        width: 96px;
        white-space: nowrap;
        text-overflow: ellipsis;
        overflow: hidden;
    }

    .tooltip {
        position: relative;
        display: inline-block;
        border-bottom: 1px dotted black;
    }
      
    .tooltip .tooltiptext {
        visibility: hidden;
        width: 188px;
        background-color: black;
        color: #fff;
        text-align: center;
        border-radius: 6px;
        position: absolute;
        padding: 8px;
        z-index: 1;
        top: 8px;
        right: 100%;
    }
      
    .tooltip .tooltiptext::after {
        content: "";
        position: absolute;
        top: 50%;
        left: 100%;
        margin-top: -5px;
        border-width: 5px;
        border-style: solid;
        border-color: transparent transparent transparent black;
    }
    .tooltip:hover .tooltiptext {
        visibility: visible;
    }


    @media all and (max-width: 400px){
        .profile-name{        
            width: 63px;
        }
    }