
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
        background-color: #333;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        color: white;
        text-align: center;
        padding: 14px 4px;
        text-decoration: none;
    }

    li a:hover:not(.active) {
        background-color: rgb(0, 77, 4);
    }

    .active {
        background-color: #4CAF50;
    }

    .profile-picture{
        float: right
    }
    
    .profile-picture img {
        width: 40px;
        padding: 6px;
    }

    .profile-name{        
        display: block;
        color: white;
        text-align: center;
        float: left;
        margin-top: 16px;
    }