
.link {
    color: #fff!important;
    background-color: green;
    border: none;
    display: inline-block;
    padding: 14px 16px;
    vertical-align: middle;
    text-decoration: none;
    overflow: hidden;
    text-align: center;
    cursor: pointer;
    white-space: nowrap;
}