@import url('https://fonts.googleapis.com/css?family=Anton&display=swap');
.player div{
    color:white;
}
.player_container {
    margin:auto;
    z-index: 0;
    font-family: 'Anton', sans-serif;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 600px;
  }

  .cards_list {
    margin:auto;
    z-index: 0;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .start_button {
    height: 40px;
    margin: auto;
  }

  .counter{
    width: 100%;
    height: 40px;
  }
  .card_container {
    position: relative;
  }
  .check_mark path {
    fill: lightgreen;
  }
  .error_mark path {
    fill: red;
  }
  .card_screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px;
    background-color: black;
    opacity: 0.75;
  }

  .check_mark, .error_mark {
    top: 210px;
    position: absolute;
    left: 50px;
    z-index: 2000;
    opacity: 0;
    transition: all .2s linear;    
    padding-left: 50px;
    padding-right: 50px;
    margin-left: -50px;
  }
  .show{
    opacity: 1;
    top: 80px;
  }

  .score_info{
    width: 100%;;
  }

  .loading {
    width: 100%;
    text-align: center;
    height: 310px;
  }

  .loading .spinner {
    position: relative;
    top: 50%;
  }

  .player_container .counter {
    margin-left: 8px;
  }

  .points {
    color: orange;
    font-size: 24px;
  }

  .multiplier {
    color: lime;
  }

  .patial_score {
    margin-left: 8px;
    font-size: 18px;
    color: dodgerblue;
  }

  .message p{
    font-size: 14px;
  }

  .div_start{    
    display: flex;
    justify-content: center;
  }

  @media all and (max-width: 1520px) {
    .cards_list {
      width: 80%;
    }
  }
  
  @media all and (max-width: 1200px) {
    .cards_list {
      width: 100%;
    }
    .player_container{
      height: 480px;
    }
    .card_screen {
      height: 176px;
    }
    .check_mark, .error_mark {
      top: 120px;
      left: 30px;
      width: 60px;
      opacity: 0;
      transition: all .2s linear;
    }
    .show{
      opacity: 1;
      top: 30px;
    }
    .loading {
      width: 100%;
      text-align: center;
      height: 360px;
    }
  }

  @media all and (max-width: 400px) {
    .check_mark, .error_mark {
      left: 24px;
    }
    .loading {
      width: 100%;
      text-align: center;
      height: 324px;
    }
    .counter {
      font-size: 13px;
    }
    .points {
      font-size: 20px;
    }
  }