.player div{
    color:white;
}
.player_container {
    margin:auto;
    z-index: 0;
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    height: 600px;
  }

  .cards_list {
    margin:auto;
    z-index: 0;
    width: 60%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }

  .start_button {
    height: 40px;
    margin: auto;
  }

  .counter{
    width: 100%;
    height: 40px;
  }
  .card_container {
    position: relative;
  }
  .check_mark path {
    fill: lightgreen;
  }
  .error_mark path {
    fill: red;
  }
  .card_screen {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 280px;
    background-color: black;
    opacity: 0.75;
  }

  .check_mark, .error_mark {
    top: 80px;
    position: absolute;
    left: 50px;
    z-index: 2000;
  }

  @media all and (max-width: 1520px) {
    .cards_list {
      width: 80%;
    }
  }
  
  @media all and (max-width: 1200px) {
    .cards_list {
      width: 100%;
    }
    .player_container{
      height: 480px;
    }
    .card_screen {
      height: 176px;
    }
    .check_mark, .error_mark {
      top: 30px;
      left: 30px;
      width: 60px;
    }
  }