.hidden {
    display: none;
    opacity: 0;
  }
  
  .container_score {
    width: 600px;
    height: 300px;
    position: absolute;
    top: -1600px;
    right: 0;
    left: 0;
    bottom: 0;
    margin: auto;
    background: url("../components/score.jpg");
    background-color: black;
    background-size: cover;
    cursor: pointer;
    -webkit-box-shadow: 0 0 5px #000;
    box-shadow: 0 0 5px #000;
    opacity: 0;
  }
  
  .fade-in {
    top: 40px;
    opacity: 1;
    transition: opacity 0.5s;
  }
  
  .overlay {
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 2fr 1fr;
    background: rgba(77, 77, 77, 0.9);
    color: #FEF5DF;
    opacity: 0;
    transition: all 1.5s;
    font-family: 'Lato', sans-serif;
    position: relative;
  }
  
  .score {
    padding-left: 20px;
    letter-spacing: 3px;
  }
  
  .head hr {
    display: block;
    width: 0;
    border: none;
    border-bottom: solid 2px #FEF5DF;
    position: absolute;
    bottom: 0;
    left: 20px;
    transition: all 1.5s;
  }
  
  
  .again i {
    font-size: 16px;
  }
  .again span {
    margin-left: 10px;
  }
  
  .show .overlay {
    opacity: 1;
  }
  .show .overlay hr {
    width: 75px;
    transition-delay: 1.4s;
  }

  .score .points {
    color: orange;
  }
  .score_info .player-card .winner {
    position: absolute;
    transform: translate(-50%,-50%);
    bottom: 110px;
    left: 50%;
    color: aqua;
    position: absolute;
    font-weight: bolder;
  }
  .score_info .player-card .picture {
    top: initial;
    bottom: 20px;
  }
  .score_info .player-card .name {
    top: initial;
    bottom: 35px;
  }

  .show .overlay .again {
    transform: translateY(0px);
    transition-delay: 2.6s;
    opacity: 1;
  }
  .again {
    font-size: 12px;
    opacity: 0;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif;
    transform: translateY(40px);
    transition: all 1.7s;
    margin-top: 60px;
  }

  .show .overlay .hits {
    transform: translateY(0px);
    transition-delay: 1.3s;
    opacity: 1;
  }
  .hits {
    font-size: 22px;
    line-height: 10px;
    font-weight: bold;
    opacity: 0;
    transform: translateY(40px);
    transition: all 1.7s;
  }

  .show .overlay .head {
    transform: translateY(0px);    
  }
  .head {
    font-size: 30px;
    line-height: 40px;
    transform: translateY(40px);
    transition: all 1.7s;
    font-family: 'Anton', sans-serif;
  }

  .show .player-card.slide-in {
    transform: translateY(50px);
    transition-delay: 2.4s;
    opacity: 1;
  }  
  .slide-in {
    transform: translateY(100px);
    transition: all 1.7s;
    opacity: 0;
  }
  
  @media all and (max-width: 1200px) {
    .container_score {
        width: 380px;
        height: 190px;
    }
    .head {
        font-size: 20px;
    }
    .hits {
        font-size: 12px;
    }
    .again {
        margin-top: 45px;
    }
  }